## Creating and reading records into Little_Lemons Mysql Database Using Python

## Scenario 

Little Lemon, an imaginary restaurant. In the [database-Setup notebook](database%20Setup.ipynb), I have created a database and designed tables to keep records of their key data. 

The list of tables that I have created are as follows:

* A table called `Menu` that stores menu data,
* A table called `MenuItems` that stores data on menu items,
* A table called `Orders` that stores data on customer orders,
* And a table called `Bookings` that stores data on customer bookings.

In [18]:
import mysql.connector as connector

In [19]:
# Establish connection between Python and MySQL database via connector API
connection=connector.connect(
                             user="root", # use your own
                             password="*******", # use your own
                            )

In [20]:
# Create cursor object to communicate with entire MySQL database
cursor = connection.cursor()

Once the connection is established, and cursor object instantiated, we can select the database `“little_lemon”` and print the names of the tables using the following code:

In [21]:
# Setting little_lemon for use 
cursor.execute("use little_lemon")

# Confirming
print("Database in use is:", connection.database)
print()
print("The existing tables in the little_lemon database are:")
cursor.execute("SHOW TABLES") 
# Print table names 
for table in cursor: 
    print(table)

Database in use is: little_lemon

The existing tables in the little_lemon database are:
('bookings',)
('menuitems',)
('menus',)
('orders',)

## Task 1:

*They now need to populate these tables with relevant data. They also need to read the data once the records have been inserted into the database.* 

_**I will help Little Lemon create and read data in their MySQL database using Python.**_

**SQL queries to insert data in the tables**

In [5]:
#*******************************************************#
# Insert query to populate "MenuItems" table is:
#*******************************************************#
insert_menuitmes="""
INSERT INTO MenuItems (ItemID, Name, Type, Price)
VALUES
(1,'Olives','Starters',5),
(2,'Flatbread','Starters', 5),
(3, 'Minestrone', 'Starters', 8),
(4, 'Tomato bread','Starters', 8),
(5, 'Falafel', 'Starters', 7),
(6, 'Hummus', 'Starters', 5),
(7, 'Greek salad', 'Main Courses', 15),
(8, 'Bean soup', 'Main Courses', 12),
(9, 'Pizza', 'Main Courses', 15),
(10,'Greek yoghurt','Desserts', 7),
(11, 'Ice cream', 'Desserts', 6),
(12, 'Cheesecake', 'Desserts', 4),
(13, 'Athens White wine', 'Drinks', 25),
(14, 'Corfu Red Wine', 'Drinks', 30),
(15, 'Turkish Coffee', 'Drinks', 10),
(16, 'Turkish Coffee', 'Drinks', 10),
(17, 'Kabasa', 'Main Courses', 17);"""

#*******************************************************#
# Insert query to populate "Menu" table is:
#*******************************************************#
insert_menu="""
INSERT INTO Menus (MenuID,ItemID,Cuisine)
VALUES
(1, 1, 'Greek'),
(1, 7, 'Greek'),
(1, 10, 'Greek'),
(1, 13, 'Greek'),
(2, 3, 'Italian'),
(2, 9, 'Italian'),
(2, 12, 'Italian'),
(2, 15, 'Italian'),
(3, 5, 'Turkish'),
(3, 17, 'Turkish'),
(3, 11, 'Turkish'),
(3, 16, 'Turkish');"""

#*******************************************************#
# Insert query to populate "Bookings" table is:
#*******************************************************#
insert_bookings="""
INSERT INTO Bookings (BookingID, TableNo, GuestFirstName, 
GuestLastName, BookingSlot, EmployeeID)
VALUES
(1,12,'Anna','Iversen','19:00:00',1),
(2, 12, 'Joakim', 'Iversen', '19:00:00', 1),
(3, 19, 'Vanessa', 'McCarthy', '15:00:00', 3),
(4, 15, 'Marcos', 'Romero', '17:30:00', 4),
(5, 5, 'Hiroki', 'Yamane', '18:30:00', 2),
(6, 8, 'Diana', 'Pinto', '20:00:00', 5);"""

#*******************************************************#
# Insert query to populate "Orders" table is:
#*******************************************************#
insert_orders="""
INSERT INTO Orders (OrderID, TableNo, MenuID, BookingID, Quantity, BillAmount)
VALUES
(1, 12, 1, 1, 2, 86),
(2, 19, 2, 2, 1, 37),
(3, 15, 2, 3, 1, 37),
(4, 5, 3, 4, 1, 40),
(5, 8, 1, 5, 1, 43);"""

**Populating tables using python**

In [6]:
print("Inserting data in MenuItems table.")
# Populate MenuItems table
cursor.execute(insert_menuitmes)
print("Total number of rows in MenuItem table: ", cursor.rowcount)
# Once the query is executed, you commit the change into the database 
connection.commit()

print("Inserting data in Menus table.")
# Populate MenuItems table
cursor.execute(insert_menu)
print("Total number of rows in Menu table: ", cursor.rowcount)
connection.commit()

print("Inserting data in Bookings table.")
# Populate Bookings table
cursor.execute(insert_bookings)
print("Total number of rows in Bookings table: ", cursor.rowcount)
connection.commit()

print("Inserting data in Orders table.")
# Populate Orders table
cursor.execute(insert_orders)
print("Total number of rows in Orders table: ", cursor.rowcount)
connection.commit()

Inserting data in MenuItems table.
Total number of rows in MenuItem table:  17
Inserting data in Menus table.
Total number of rows in Menu table:  12
Inserting data in Bookings table.
Total number of rows in Bookings table:  6
Inserting data in Orders table.
Total number of rows in Orders table:  5

## Task 2:

In the first task, I created records in the empty tables. Now the restaurant requires the following data for each guest: 

* Guest first and last names  
* The table number assigned to each guest.

I will help Little Lemon to read this data from the “Bookings” table using Python.

In [7]:
# Read query is:
all_bookings = """SELECT GuestFirstName, GuestLastName, 
TableNo FROM bookings;"""

# Eexecute query 
cursor.execute(all_bookings)

# Fetch all results that satisfy the query 
results = cursor.fetchall()

# Retrieve column names
cols = cursor.column_names

# Print column names and records from results using for loop
print("""Data in the "Bookings" table:""")
print(cols)
for result in results:
    print(result)

Data in the "Bookings" table:
('GuestFirstName', 'GuestLastName', 'TableNo')
('Anna', 'Iversen', 12)
('Joakim', 'Iversen', 12)
('Vanessa', 'McCarthy', 19)
('Marcos', 'Romero', 15)
('Hiroki', 'Yamane', 5)
('Diana', 'Pinto', 8)

## Task 3:
Little Lemon’s queries are returning large volumes of data. They need to find a way to return the data in smaller, more manageable chunks. 

I will help them to return just the first three items from the menu. In other words, return the first three items from the cursor.

In [8]:
# Query to retrieve all bookings is: 
all_menus = """SELECT * FROM Menus;"""

# Execute query 
cursor.execute(all_menus)

# Fetch fist 3 records in results
results = cursor.fetchmany(size=3)

# Retrieve column names
cols = cursor.column_names

# Print column names and records from results using for loop
print("""Data in the "Menu" table:""")
print(cols)
for result in results:
    print(result)

Data in the "Menu" table:
('MenuID', 'ItemID', 'Cuisine')
(1, 1, 'Greek')
(1, 7, 'Greek')
(1, 10, 'Greek')

After grabbing first three records, the cursor will be at the fourth record and we can call `fetchall()` to grab them.

In [9]:
# Remaining records after fetching the first three
results= cursor.fetchall()
for result in results:
    print(result)

(1, 13, 'Greek')
(2, 3, 'Italian')
(2, 9, 'Italian')
(2, 12, 'Italian')
(2, 15, 'Italian')
(3, 5, 'Turkish')
(3, 11, 'Turkish')
(3, 16, 'Turkish')
(3, 17, 'Turkish')

**Options 2:**

This task can also be accomplished by setting `LIMIT 3` in the `SQL` query.

In [10]:
# Query to retrieve only first three records from the bookings table is:
all_menus = """SELECT * FROM Menus LIMIT 3;"""

# Execute query 
cursor.execute(all_menus)

# Fetch fist 3 records in results
results = cursor.fetchall()   

# Retrieve column names
cols = cursor.column_names

# Print column names and records from results using for loop
print("""Data in the "Menu" table:""")
print(cols)
for result in results:
    print(result)

Data in the "Menu" table:
('MenuID', 'ItemID', 'Cuisine')
(1, 1, 'Greek')
(1, 7, 'Greek')
(1, 10, 'Greek')

## Task 4:

The guest Diana Pinto booked a table for two. 

She was assigned a Booking ID of 6 and the table number 8. However, she just rang Little Lemon to request a change to her booking. 

She now needs a table for four guests.

In [17]:
# The update query is:
update_diana = """
UPDATE Bookings
SET TableNo = 10
WHERE BookingID = 6
"""
# Execute the query to update the table
print("Updating Diana's data in Bookings table.")
cursor.execute(update_diana)

connection.commit()

Updating Diana's data in Bookings table.

In [18]:
data = "SELECT * FROM Bookings;"
cursor.execute(data)
updated_data = cursor.fetchall()

cols = cursor.column_names
print(cols)

for line in updated_data:
    print(line)

('BookingID', 'TableNo', 'GuestFirstName', 'GuestLastName', 'BookingSlot', 'EmployeeID')
(1, 12, 'Anna', 'Iversen', datetime.timedelta(seconds=68400), 1)
(2, 12, 'Joakim', 'Iversen', datetime.timedelta(seconds=68400), 1)
(3, 19, 'Vanessa', 'McCarthy', datetime.timedelta(seconds=54000), 3)
(4, 15, 'Marcos', 'Romero', datetime.timedelta(seconds=63000), 4)
(5, 5, 'Hiroki', 'Yamane', datetime.timedelta(seconds=66600), 2)
(6, 10, 'Diana', 'Pinto', datetime.timedelta(seconds=72000), 5)

## Task 5: 

Little Lemon has encountered a conflict with two bookings. To resolve the conflict, I need to update the record for the guest Joakim Iversen, who has a Booking ID of 2.  

Update Joakim’s booking in the MySQL database using Python as follows: 

* Change the guest’s table number to 11 
* Change the `EmployeeID` of the guest’s waiter to 6

In [19]:
# The update query is:
update_bookings="""UPDATE Bookings
SET TableNo=11, EmployeeID=6
WHERE BookingID = 2;"""

# Execute the query to update the table
print("Executing update query")
cursor.execute(update_bookings)

# Commit change 
print("Comitting change to the table")
connection.commit()
print("Record is updated in the table")

Executing update query
Comitting change to the table
Record is updated in the table

The above code updates the records in the “Bookings” table. The print statements are added to track the process.

In [20]:
# The query to retrieve all bookings is: 
all_bookings = """SELECT * FROM Bookings;"""

# Execute query 
cursor.execute(all_bookings)

# Fetch all results that satisfy the query 
results = cursor.fetchall()

# Retrieve column names
cols = cursor.column_names

# Print column names and records from results using for loop
print("Data in the 'Bookings' table")
print(cols)
for result in results:  
    print(result)

Data in the 'Bookings' table
('BookingID', 'TableNo', 'GuestFirstName', 'GuestLastName', 'BookingSlot', 'EmployeeID')
(1, 12, 'Anna', 'Iversen', datetime.timedelta(seconds=68400), 1)
(2, 11, 'Joakim', 'Iversen', datetime.timedelta(seconds=68400), 6)
(3, 19, 'Vanessa', 'McCarthy', datetime.timedelta(seconds=54000), 3)
(4, 15, 'Marcos', 'Romero', datetime.timedelta(seconds=63000), 4)
(5, 5, 'Hiroki', 'Yamane', datetime.timedelta(seconds=66600), 2)
(6, 10, 'Diana', 'Pinto', datetime.timedelta(seconds=72000), 5)

## Task 6: 

Little Lemon restaurant didn’t receive their regular supply of ingredients today. This means that they can’t provide any Greek cuisine for their guests. 

They need to delete all Greek cuisine from their menu until the supply of ingredients is restored.

In [21]:
# The SQL query is:
delete_query_greek="""DELETE FROM Menus WHERE Cuisine = 'Greek'"""

# Execute the query
print("Executing 'DELETE' query")
cursor.execute(delete_query_greek)

# Commit change 
print("Comitting change to the table")
connection.commit()
print("The table is updated after deletion of the requested records")

Executing 'DELETE' query
Comitting change to the table
The table is updated after deletion of the requested records

Once, the required records are deleted using the above code, you can run the code below to confirm and print the updated "Menus" table.

In [22]:
# The query to retrieve records from Menus table is: 
all_menus = """SELECT * FROM Menus;"""

# Execute query 
cursor.execute(all_menus)

# Fetch all results that satisfy the query 
results = cursor.fetchall()

# Retrieve column names
cols = cursor.column_names

# Print column names and records from results using for loop
print("""Data in the "Menu" table:""")
print(cols)
for result in results:
    print(result)

Data in the "Menu" table:
('MenuID', 'ItemID', 'Cuisine')
(2, 3, 'Italian')
(2, 9, 'Italian')
(2, 12, 'Italian')
(2, 15, 'Italian')
(3, 5, 'Turkish')
(3, 11, 'Turkish')
(3, 16, 'Turkish')
(3, 17, 'Turkish')

#### Additional on deleting all the records holding NULL values in a certain column in the Bookings table.

In [23]:
delete_query_null="""DELETE FROM Bookings WHERE TableNo IS NULL;"""
cursor.execute(delete_query_null)

connection.commit()

## Task 7: 

Little Lemon need to know how many bookings they have today for table number 12. They also need to know the names of the guests booked for table 12 and who their servers are.

In [30]:
# Add your code here
select_stmt = """
SELECT TableNo, GuestFirstName, GuestLastName, EmployeeID
FROM Bookings
WHERE TableNo = 12;
"""
cursor.execute(select_stmt)
results = cursor.fetchall()
cols = cursor.column_names

print(cols)

for line in results:
    print(line)

('TableNo', 'GuestFirstName', 'GuestLastName', 'EmployeeID')
(12, 'Anna', 'Iversen', 1)
(12, 'Joakim', 'Iversen', 6)

## Task 8: 

Little lemon wants to send a coupon to all guests who spent more than $40 at the restaurant today.  

I will help little lemon to filter and sort the records of all quests who qualify for coupon.

In [31]:
# Add your code here
filtering_and_sorting = """
SELECT BookingID, BillAmount FROM Orders
WHERE BillAmount>40 ORDER BY BillAmount DESC;
"""
cursor.execute(filtering_and_sorting)
result = cursor.fetchall()
cols = cursor.column_names
print(cols)
for row in result:
    print(row)

('BookingID', 'BillAmount')
(1, 86)
(5, 43)

## Task 9: 

Little lemon needs to determine what the most and least expensive starters and desserts on their menu items are.

In [32]:
# Add your code here
filtering_data = """
SELECT * FROM MenuItems where Type = 'Starters' OR Type = 'Desserts'
ORDER BY Price DESC;
"""
cursor.execute(filtering_data)
result = cursor.fetchall()
cols = cursor.column_names
print(cols)
for row in result:
    print(row)

('ItemID', 'Name', 'Type', 'Price')
(3, 'Minestrone', 'Starters', 8)
(4, 'Tomato bread', 'Starters', 8)
(5, 'Falafel', 'Starters', 7)
(10, 'Greek yoghurt', 'Desserts', 7)
(11, 'Ice cream', 'Desserts', 6)
(1, 'Olives', 'Starters', 5)
(2, 'Flatbread', 'Starters', 5)
(6, 'Hummus', 'Starters', 5)
(12, 'Cheesecake', 'Desserts', 4)

## Task 10
Little Lemon needs to carry out the following tasks with their datasets and extract the result into their python application: 

* Determine the final bill amount for each customer who attended the restaurant today 
* Identify the type of cuisine that each item in their menu belongs to.

In [38]:
# The SQL query is:
join_query="""SELECT 
MenuItems.Name AS Item_Name, 
MenuItems.Type AS Item_Type, 
Menus.Cuisine AS Cuisine, 
MenuItems.Price AS Price 
FROM MenuItems 
INNER JOIN Menus ON MenuItems.ItemID=Menus.ItemID;"""

# Execute query
cursor.execute(join_query)

# Fetch records 
results = cursor.fetchall()

# Retrieve column names
columns = cursor.column_names

# Print column names
print(columns)

# Print query results
for result in results:
    print(result)

('Item_Name', 'Item_Type', 'Cuisine', 'Price')
('Minestrone', 'Starters', 'Italian', 8)
('Pizza', 'Main Courses', 'Italian', 15)
('Cheesecake', 'Desserts', 'Italian', 4)
('Turkish Coffee', 'Drinks', 'Italian', 10)
('Falafel', 'Starters', 'Turkish', 7)
('Ice cream', 'Desserts', 'Turkish', 6)
('Turkish Coffee', 'Drinks', 'Turkish', 10)
('Kabasa', 'Main Courses', 'Turkish', 17)

Little Lemon notice that there are several menu items missing from the output of the previous task. 

I will help Little Lemon to identify these missing items by using a `JOIN` operation in Python to return data for the missing records.

In [39]:
# Good to specify column from the table
# Try left, right, inner

# The SQL query is:
join_query="""SELECT 
MenuItems.Name AS Item_Name, 
MenuItems.Type AS Item_Type, 
Menus.Cuisine AS Cuisine, 
MenuItems.Price AS Price 
FROM MenuItems 
LEFT JOIN Menus ON MenuItems.ItemID=Menus.ItemID
WHERE Cuisine IS NULL;"""

# Execute query
cursor.execute(join_query)

# Fetch records 
results = cursor.fetchall()

# Retrieve column names
columns = cursor.column_names

# Print column names
print(columns)

# Print query results
for result in results:
    print(result)

('Item_Name', 'Item_Type', 'Cuisine', 'Price')
('Olives', 'Starters', None, 5)
('Flatbread', 'Starters', None, 5)
('Tomato bread', 'Starters', None, 8)
('Hummus', 'Starters', None, 5)
('Greek salad', 'Main Courses', None, 15)
('Bean soup', 'Main Courses', None, 12)
('Greek yoghurt', 'Desserts', None, 7)
('Athens White wine', 'Drinks', None, 25)
('Corfu Red Wine', 'Drinks', None, 30)

Little Lemon restaurant need you to help them retrieve the following information from the `Bookings` and the `Orders` tables in their MySQL database using Python: 

* Booking ID 
* Table number 
* Guest first name 
* Server ID 
* Bill amount

In [40]:

# The SQL query is:
join_query="""SELECT 
Bookings.BookingID,
Bookings.TableNo,
Bookings.GuestFirstName,
Bookings.EmployeeID AS ServerID,
Orders.BillAmount
FROM Bookings
LEFT JOIN Orders ON Bookings.BookingID = Orders.BookingID;
"""

# Execute query
cursor.execute(join_query)

# Fetch records 
results = cursor.fetchall()

# Retrieve column names
columns = cursor.column_names

# Print column names
print(columns)

# Print query results
for result in results:
    print(result)

('BookingID', 'TableNo', 'GuestFirstName', 'ServerID', 'BillAmount')
(1, 12, 'Anna', 1, 86)
(2, 12, 'Joakim', 6, 37)
(3, 19, 'Vanessa', 3, 37)
(4, 15, 'Marcos', 4, 40)
(5, 5, 'Hiroki', 2, 43)
(6, 10, 'Diana', 5, None)

## Task 11
Along with the booking ID, little lemon needs to add the full name of the guests in upper case on their invoices. Let's help little lemon to extract the data in the required format.

In [5]:
# The SQL query is:
sql_query="""
SELECT 
BookingID AS ID,
UPPER(CONCAT(GuestFirstName,' ',GuestLastName)) 
AS GuestFullName 
FROM bookings;"""

# Execute query
cursor.execute(sql_query)

# Fetch records 
results = cursor.fetchall()

# Retrieve column names
columns = cursor.column_names

# Print column names
print(columns)

# Just add an empty line using print statement
print()

# Print query results
for result in results:
    print(result)

('ID', 'GuestFullName')

(1, 'ANNA IVERSEN')
(2, 'JOAKIM IVERSEN')
(3, 'VANESSA MCCARTHY')
(4, 'MARCOS ROMERO')
(5, 'HIROKI YAMANE')
(6, 'DIANA PINTO')

## Task 12:

Little lemon needs to know the following statistics at closing: 

* Number of bookings 
* Total sale 
* Average sale 

I will help little lemon to compute the required statistics from the data in the “Orders” table .

In [6]:
# The SQL query is:
sql_query="""
SELECT 
COUNT(BookingID) AS n_bookings,
SUM(BillAmount) AS Total_sale,
AVG(BillAmount) AS Avg_sale
FROM Orders;"""

# Execute query
cursor.execute(sql_query)

# Fetch records
results=cursor.fetchall()

# Print results
print("Today's statistics:")
for result in results:
    print("Number of bookings:",result[0])
    print("Total sale:",result[1])
    print("Average sale:",result[2])

Today's statistics:
Number of bookings: 5
Total sale: 243
Average sale: 48.6000

Little lemon needs to know the number of bookings for each table. Let's help them to print the table number and the number of bookings for each table.

In [7]:
# The SQL query is:
sql_query="""SELECT 
TableNo AS 'Table number', 
COUNT(TableNo) AS n_booking
FROM Bookings 
GROUP BY TableNo 
ORDER BY n_booking DESC;"""

# Execute query
cursor.execute(sql_query)

# Fetch records 
results = cursor.fetchall()

# Retrieve column names
columns = cursor.column_names

# Print column names
print(columns)

# Print query results
for result in results:
    print(result)

('Table number', 'n_booking')
(12, 2)
(19, 1)
(15, 1)
(5, 1)
(10, 1)

## Task 13:

Little lemon wants to create three arrival slots for the guests based on the booking hour: 

* Late afternoon: for hours 15 and 16  
* Evening: for hours 17 and 18 
* Night: for hours 19 and 20 

I will help little lemon to create the above slots and display the booking ID, guest name, and arrival slot on the kitchen screen so that the staff can plan accordingly.

In [8]:

# The SQL query is:
sql_query="""
SELECT
BookingID,
CONCAT(GuestFirstName,' ',GuestLastName) AS Guest_Name,

CASE
WHEN HOUR(BookingSlot) IN (15,16) THEN "Late afternoon" 
WHEN HOUR(BookingSlot) IN (17,18) THEN "Evening" 
WHEN HOUR(BookingSlot) IN (19,20) THEN "Night"
ELSE "Time not available" 
END AS Arrival_slot

FROM Bookings;"""

# Execute query
cursor.execute(sql_query)

# Fetch records 
results = cursor.fetchall()

# Retrieve column names
columns = cursor.column_names

# Print column names
print(columns)

# Print query results
for result in results:
    print(result)

('BookingID', 'Guest_Name', 'Arrival_slot')
(1, 'Anna Iversen', 'Night')
(2, 'Joakim Iversen', 'Night')
(3, 'Vanessa McCarthy', 'Late afternoon')
(4, 'Marcos Romero', 'Evening')
(5, 'Hiroki Yamane', 'Evening')
(6, 'Diana Pinto', 'Night')

## Task 14
Little Lemon wants to retrieve the number of bookings in each hour so that they can schedule the staff duties accordingly.

In [14]:
# The SQL query is:
sql_query = """SELECT 
COUNT(BookingID) AS n_bookings,
HOUR(BookingSlot) AS Hour 
FROM Bookings
GROUP BY Hour
ORDER BY Hour ASC;"""

# Execute the query 
cursor.execute(sql_query)

# Fetch all results that satisfy the query 
results = cursor.fetchall()

# Print records in the required format using for loop
print("""Upcoming Bookings:\n""")
#print(cols)
for result in results:
    print("Hour: ",result[1],"<<>>", result[0], "Booking/s")

Upcoming Bookings:

Hour:  15 <<>> 1 Booking/s
Hour:  17 <<>> 1 Booking/s
Hour:  18 <<>> 1 Booking/s
Hour:  19 <<>> 2 Booking/s
Hour:  20 <<>> 1 Booking/s

## Task 15

Little Lemon needs to display the following information in the staff’s room: 

* Table number 
* Guest’s full name 
* Arrival time in hours and minutes (e.g., 15 hours and 0 mins)

In [15]:
import datetime as dt

# The SQL query is: 
sql_query = """SELECT 
TableNo, 
GuestFirstName, 
GuestLastName, 
BookingSlot 
FROM Bookings 
ORDER BY BookingSlot;"""

# Execute query 
cursor.execute(sql_query)

# Fetch all results that satisfy the query 
results = cursor.fetchall()

# Print records in the required format
print("The guests and their booking slots are:\n")
for result in results: 
    time = str(result[3])
    hour = dt.datetime.strptime(time,'%H:%M:%S').hour
    minute = dt.datetime.strptime(time,'%H:%M:%S').minute
    print("[Table no:]",result[0],">>",result[1],result[2], "is expected to arrive at:", 
          hour,"hrs and", minute, "mins")

The guests and their booking slots are:

[Table no:] 19 >> Vanessa McCarthy is expected to arrive at: 15 hrs and 0 mins
[Table no:] 15 >> Marcos Romero is expected to arrive at: 17 hrs and 30 mins
[Table no:] 5 >> Hiroki Yamane is expected to arrive at: 18 hrs and 30 mins
[Table no:] 12 >> Anna Iversen is expected to arrive at: 19 hrs and 0 mins
[Table no:] 12 >> Joakim Iversen is expected to arrive at: 19 hrs and 0 mins
[Table no:] 10 >> Diana Pinto is expected to arrive at: 20 hrs and 0 mins

## Task 16

A guest with booking ID 2 and table number 12 wants to change the arrival time by one hour.

In [16]:

"""UPDATE Bookings 
SET BookingSlot=ADDTIME(BookingSlot,"1:00:00") 
WHERE BookingID=2;"""

# The SQL query is: 
sql_query = """SELECT 
BookingID, 
TableNo, 
BookingSlot, 
ADDTIME(BookingSlot,"1:00:00") as NewTime 
FROM Bookings
WHERE TableNo = 12 AND BookingID = 2;"""

# Execute query 
cursor.execute(sql_query)

# Fetch all results that satisfy the query 
results = cursor.fetchall()

# Print time change alert.
print("Booking time change ALERT!!")
for result in results:  
    print("Booking ID:",result[0])
    print("Table number:",result[1])
    print("Booked slot:",result[2])
    print("New arrival time:",result[3])

Booking time change ALERT!!
Booking ID: 2
Table number: 12
Booked slot: 19:00:00
New arrival time: 20:00:00


## Scenario: 

Little lemon need to perform some tasks on daily basis, and they involve extracting data from one or more tables. The tasks include finding the guest with maximum spending, retrieving the bookings for no arrival, and displaying the order status to the guests. 

To keep consistency during the data retrieval process, Little Lemon is interested to implement the required tasks using stored procedures. I will help Little Lemon create stored procedures so that they can call them according to their requirements in their python-based application.

## Task 17:

Little lemon is running a marketing campaign this month. They need to issue a discount coupon to the top spender on daily bases. 

I will Create a stored procedure `TopSpender` that can retrieve the booking ID, guest’s full name, and the bill amount of the top spender at closing.

In [22]:
cursor.execute("DROP PROCEDURE IF EXISTS TopSpender;")

In [23]:
# Task 1
# Stored procedure name >> TopSpender
# Our stored procedure query is
stored_procedure_query="""
CREATE PROCEDURE TopSpender()

BEGIN

SELECT bookings.BookingID, 
CONCAT(
bookings.GuestFirstname,
' ',
bookings.GuestLastname
) AS CustomerName,
Orders.BillAmount 
FROM Bookings
INNER JOIN
Orders ON bookings.BookingID=Orders.BookingID
ORDER BY BillAmount DESC LIMIT 1;

END

"""

# Execute the query
cursor.execute(stored_procedure_query)

#********************************************#

# Call the stored procedure with its name
cursor.callproc("TopSpender")

# Retrieve recrods in "dataset"
results = next( cursor.stored_results() )
dataset = results.fetchall()

# Retrieve column names using list comprehension in a 'for' loop 
for column_id in cursor.stored_results():
    columns = [ column[0] for column in column_id.description ]

# Print column names
print(columns)

# Print data 
for data in dataset:
    print(data)

['BookingID', 'CustomerName', 'BillAmount']
(1, 'Anna Iversen', 86)

## Task 18:

Little Lemon need to retrieve all those bookings where the guests did not appear today. 
Let's implement this task using a stored procedure; Using `NoArrival` as a name for our stored procedure.

In [24]:
cursor.execute("DROP PROCEDURE IF EXISTS NoArrival;")

In [25]:
# Task 2
# Stored procedure name >> NoArrival
# Our stored procedure query is
stored_procedure_query="""
CREATE PROCEDURE NoArrival()

BEGIN

SELECT bookings.BookingID, 
Orders.BillAmount 
FROM Bookings
LEFT JOIN
Orders ON Bookings.BookingID=Orders.BookingID
WHERE BillAmount IS NULL;

END

"""

# Execute the query 
cursor.execute(stored_procedure_query)

#********************************************#

# Call the stored procedure with its name
cursor.callproc("NoArrival")

# Retrieve recrods in "dataset"
results = next( cursor.stored_results() )
dataset = results.fetchall()

# Retrieve column names using list comprehension in a 'for' loop 
for column_id in cursor.stored_results():
    columns = [ column[0] for column in column_id.description ]

# Print column names
print(columns)

# Print data 
for data in dataset:
    print(data)

['BookingID', 'BillAmount']
(6, None)

## Task 19:

It is very important for little lemon to keep track of the status of each guest’s order and display it on the screen to keep their guests informed.  

This is how they categorize the orders: 

* If not assigned to any employee, the status is `In Queue` 
* If assigned to the employees with IDs 4 and 5, the status is `Preparing Order` 
* If assigned to the employees with IDs 1, 2, and 3, the status is `Order Served` 

Let's Create a stored procedure named `OrderStatus` for the above task and call to check if everything is working.

In [26]:
cursor.execute("DROP PROCEDURE IF EXISTS OrderStatus;")

In [27]:
procedure_query = """
CREATE PROCEDURE OrderStatus()
BEGIN
SELECT 
BookingID,
        CASE
            WHEN EmployeeID IN (4,5) THEN "Preparing Order"
            WHEN EmployeeID IN (1,2,3) THEN "Order Served"
            ELSE "In Queue"
        END AS "Status"
 FROM Bookings;
END;
"""

cursor.execute(procedure_query)
cursor.callproc("OrderStatus")

results = next(cursor.stored_results() )

datasets = results.fetchall()

cols = results.column_names
print(cols)

for data in datasets:
    print(data)

('BookingID', 'Status')
(1, 'Order Served')
(2, 'In Queue')
(3, 'Order Served')
(4, 'Preparing Order')
(5, 'Order Served')
(6, 'Preparing Order')

In [28]:
# Let's close the cursor and the connection
if connection.is_connected():
    cursor.close()
    print("The cursor is closed.")
    connection.close()
    print("MySQL connection is closed.")
else:
    print("Connection is already closed")

The cursor is closed.
MySQL connection is closed.