In [2]:
import mysql.connector as connector
from mysql.connector import errorcode

In [ ]:
try:
    connection = connector.connect(user = 'root', password = '******')
except connector.Error as err:
    if err.errno == errorcode.ER_ACCESS_DENIED_ERROR:
        print("Username or password is incorrect")
    elif err.errno == errorcode.ER_BAD_DB_ERROR:
        print("Database does not exist")
    else:
        print(err)

In [ ]:
cursor = connection.cursor()

In [ ]:
cursor.execute("CREATE DATABASE IF NOT EXISTS little_lemon")

In [8]:
# Show the databases
cursor.execute("SHOW DATABASES")
databases = cursor.fetchall()

# Fetch and print the results
for database in databases:
    print(database)

('information_schema',)
('little_lemon',)
('mysql',)
('new_database',)
('performance_schema',)
('sys',)

In [9]:
# Show the databases
cursor.execute("SHOW DATABASES")
#databases = cursor.fetchall()

# Fetch and print the results
for database in cursor:
    print(database)

('information_schema',)
('little_lemon',)
('mysql',)
('new_database',)
('performance_schema',)
('sys',)

In [10]:
cursor.execute("USE little_lemon")
connection.database

'little_lemon'

In [11]:
create_menuitems_table = """CREATE TABLE IF NOT EXISTS MenuItems(
ItemID INT AUTO_INCREMENT,
Name VARCHAR(200),
Type VARCHAR(100),
Price INT,
PRIMARY KEY (ItemID)
)"""

cursor.execute(create_menuitems_table)

In [12]:
cursor.execute("SHOW TABLES")
tables = cursor.fetchall()

# Fetch and print the results
for table in tables:
    print(table)

('menuitems',)

In [17]:
# The SQL query for Menu table is:
create_menu_table="""
CREATE TABLE Menus (
MenuID INT,
ItemID INT,
Cuisine VARCHAR(100),
PRIMARY KEY (MenuID,ItemID)
);"""

# Create Menu table
cursor.execute(create_menu_table)

# Confirm if the table is created
cursor.execute("SHOW TABLES")
for table in cursor:
    print(table)

('menuitems',)
('menus',)

In [18]:
# The SQL query for Bookings table is:
create_booking_table="""
CREATE TABLE Bookings (
BookingID INT AUTO_INCREMENT,
TableNo INT,
GuestFirstName VARCHAR(100) NOT NULL,
GuestLastName VARCHAR(100) NOT NULL,
BookingSlot TIME NOT NULL,
EmployeeID INT,
PRIMARY KEY (BookingID)
);"""

# Create Bookings table
cursor.execute(create_booking_table)

# Confirm if the table is created
cursor.execute("SHOW TABLES")
for table in cursor:
    print(table)

('bookings',)
('menuitems',)
('menus',)

In [19]:
create_orders_table = """
CREATE TABLE Orders (
OrderID INT,
TableNo INT,
MenuID INT,
BookingID INT,
BillAmount INT,
Quantity INT,
PRIMARY KEY (OrderID,TableNo)
);"""

#Create Orders table
cursor.execute(create_orders_table)

# Confirm if the table is created

cursor.execute("SHOW TABLES")
for table in cursor:
    print(table)

('bookings',)
('menuitems',)
('menus',)
('orders',)

In [20]:
#Let's close the cursor and the connection

if connection.is_connected():
    cursor.close
    print("The cursor is closed!")
    connection.close
    print("MYSQL connection is closed!")
else:
    print("Connection is already closed")

The cursor is closed!
MYSQL connection is closed!

In [4]:
try:
    connection = connector.connect(user = 'root', password = 'Ibraheem16@mysql')
except connector.Error as err:
    if err.errno == errorcode.ER_ACCESS_DENIED_ERROR:
        print("Username or password is incorrect")
    elif err.errno == errorcode.ER_BAD_DB_ERROR:
        print("Database does not exist")
    else:
        print(err)

In [13]:
cursor = connection.cursor(buffered= True)

In [14]:
cursor.execute("USE little_lemon")

In [8]:
cursor.execute("SHOW TABLES")
tables = cursor.fetchall()

# Fetch and print the results
for table in tables:
    print(table)

('bookings',)
('menuitems',)
('menus',)
('orders',)

In [15]:
# Add your code here
insert_bookings="""
INSERT INTO Bookings (BookingID, TableNo, GuestFirstName, 
GuestLastName, BookingSlot, EmployeeID)
VALUES
(1,12,'Anna','Iversen','19:00:00',1),
(2, 12, 'Joakim', 'Iversen', '19:00:00', 1),
(3, 19, 'Vanessa', 'McCarthy', '15:00:00', 3),
(4, 15, 'Marcos', 'Romero', '17:30:00', 4),
(5, 5, 'Hiroki', 'Yamane', '18:30:00', 2),
(6, 8, 'Diana', 'Pinto', '20:00:00', 5);"""

insert_menuitems="""
INSERT INTO MenuItems (ItemID, Name, Type, Price)
VALUES
(1,'Olives','Starters',5),
(2,'Flatbread','Starters', 5),
(3, 'Minestrone', 'Starters', 8),
(4, 'Tomato bread','Starters', 8),
(5, 'Falafel', 'Starters', 7),
(6, 'Hummus', 'Starters', 5),
(7, 'Greek salad', 'Main Courses', 15),
(8, 'Bean soup', 'Main Courses', 12),
(9, 'Pizza', 'Main Courses', 15),
(10,'Greek yoghurt','Desserts', 7),
(11, 'Ice cream', 'Desserts', 6),
(12, 'Cheesecake', 'Desserts', 4),
(13, 'Athens White wine', 'Drinks', 25),
(14, 'Corfu Red Wine', 'Drinks', 30),
(15, 'Turkish Coffee', 'Drinks', 10),
(16, 'Turkish Coffee', 'Drinks', 10),
(17, 'Kabasa', 'Main Courses', 17);"""

insert_menu="""
INSERT INTO Menus (MenuID, ItemID, Cuisine)
VALUES
(1, 1, 'Greek'),
(1, 7, 'Greek'),
(1, 10, 'Greek'),
(1, 13, 'Greek'),
(2, 3, 'Italian'),
(2, 9, 'Italian'),
(2, 12, 'Italian'),
(2, 15, 'Italian'),
(3, 5, 'Turkish'),
(3, 17, 'Turkish'),
(3, 11, 'Turkish'),
(3, 16, 'Turkish');"""

insert_orders="""
INSERT INTO Orders (OrderID, TableNo, MenuID, BookingID, Quantity, BillAmount)
VALUES
(1, 12, 1, 1, 2, 86),
(2, 19, 2, 2, 1, 37),
(3, 15, 2, 3, 1, 37),
(4, 5, 3, 4, 1, 40),
(5, 8, 1, 5, 1, 43);"""


cursor.execute(insert_bookings)
cursor.execute(insert_menuitems)
cursor.execute(insert_menu)
cursor.execute(insert_orders)

In [17]:
all_bookings = """SELECT GuestFirstName, GuestLastName, TableNo FROM Bookings;"""