In [2]:
import mysql.connector as connector
from mysql.connector import errorcode

In [ ]:
try:
    connection = connector.connect(user = 'root', password = '')
except connector.Error as err:
    if err.errno == errorcode.ER_ACCESS_DENIED_ERROR:
        print("Username or password is incorrect")
    elif err.errno == errorcode.ER_BAD_DB_ERROR:
        print("Database does not exist")
    else:
        print(err)

In [ ]:
cursor = connection.cursor()

In [ ]:
cursor.execute("CREATE DATABASE IF NOT EXISTS little_lemon")

In [8]:
# Show the databases
cursor.execute("SHOW DATABASES")
databases = cursor.fetchall()

# Fetch and print the results
for database in databases:
    print(database)

('information_schema',)
('little_lemon',)
('mysql',)
('new_database',)
('performance_schema',)
('sys',)

In [9]:
# Show the databases
cursor.execute("SHOW DATABASES")
#databases = cursor.fetchall()

# Fetch and print the results
for database in cursor:
    print(database)

('information_schema',)
('little_lemon',)
('mysql',)
('new_database',)
('performance_schema',)
('sys',)

In [10]:
cursor.execute("USE little_lemon")
connection.database

'little_lemon'

In [11]:
create_menuitems_table = """CREATE TABLE IF NOT EXISTS MenuItems(
ItemID INT AUTO_INCREMENT,
Name VARCHAR(200),
Type VARCHAR(100),
Price INT,
PRIMARY KEY (ItemID)
)"""

cursor.execute(create_menuitems_table)

In [12]:
cursor.execute("SHOW TABLES")
tables = cursor.fetchall()

# Fetch and print the results
for table in tables:
    print(table)

('menuitems',)

In [17]:
# The SQL query for Menu table is:
create_menu_table="""
CREATE TABLE Menus (
MenuID INT,
ItemID INT,
Cuisine VARCHAR(100),
PRIMARY KEY (MenuID,ItemID)
);"""

# Create Menu table
cursor.execute(create_menu_table)

# Confirm if the table is created
cursor.execute("SHOW TABLES")
for table in cursor:
    print(table)

('menuitems',)
('menus',)

In [18]:
# The SQL query for Bookings table is:
create_booking_table="""
CREATE TABLE Bookings (
BookingID INT AUTO_INCREMENT,
TableNo INT,
GuestFirstName VARCHAR(100) NOT NULL,
GuestLastName VARCHAR(100) NOT NULL,
BookingSlot TIME NOT NULL,
EmployeeID INT,
PRIMARY KEY (BookingID)
);"""

# Create Bookings table
cursor.execute(create_booking_table)

# Confirm if the table is created
cursor.execute("SHOW TABLES")
for table in cursor:
    print(table)

('bookings',)
('menuitems',)
('menus',)

In [19]:
create_orders_table = """
CREATE TABLE Orders (
OrderID INT,
TableNo INT,
MenuID INT,
BookingID INT,
BillAmount INT,
Quantity INT,
PRIMARY KEY (OrderID,TableNo)
);"""

#Create Orders table
cursor.execute(create_orders_table)

# Confirm if the table is created

cursor.execute("SHOW TABLES")
for table in cursor:
    print(table)

('bookings',)
('menuitems',)
('menus',)
('orders',)

In [20]:
#Let's close the cursor and the connection

if connection.is_connected():
    cursor.close
    print("The cursor is closed!")
    connection.close
    print("MYSQL connection is closed!")
else:
    print("Connection is already closed")

The cursor is closed!
MYSQL connection is closed!